body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 50px;
}

#numpad {
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    margin: 2px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #56a79a;
}

.operator{
    background-color: rgb(162, 233, 162);
}

.figures{
    background-color: aquamarine;
}